[submodule "thirdparty/dynamic/sonnet/sonnet"]
	path = thirdparty/dynamic/sonnet/sonnet
	url = https://invent.kde.org/frameworks/sonnet.git
[submodule "thirdparty/static/quazip/quazip"]
	path = thirdparty/static/quazip/quazip
	url = https://github.com/stachenov/quazip.git
[submodule "thirdparty/source/ecm"]
	path = thirdparty/source/ecm
	url = https://github.com/KDE/extra-cmake-modules.git
