/* Import Rubik font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

/* Apply Rubik font globally */
body, .md-typeset,
.md-nav__title, 
.md-nav__link, 
.md-nav__item {
    font-family: 'Rubik', sans-serif;
}

button, input, textarea, select {
    font-family: 'Rubik', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

.md-typeset h1, 
.md-typeset h2, 
.md-typeset h3, 
.md-typeset h4, 
.md-typeset h5, 
.md-typeset h6 {
    font-weight: bold !important;
}

div.md-header__topic:nth-child(1) > span:nth-child(1) {
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: larger;
}

h1, 
.md-typeset h1 {
    color: #4A148C; 
}

h2, 
.md-typeset h2 {
    color: #6A1B9A; 
}

h3, 
.md-typeset h3 {
    color: #7B1FA2; 
}

h4, 
.md-typeset h4 {
    color: #8E24AA; 
}

h5, 
.md-typeset h5 {
    color: #9C27B0; 
}

.md-typeset__table > table th {
    color: #9C27B0;
}

/* Style the ✗ symbol in red */
.red-x {
    color: red;
    font-weight: bolder;
}