[Desktop Entry]
Type=Application
Name=Scrite
Exec=Scrite
Icon=Scrite
Comment=Multilingual Screenplay Writing App from TERIFLIX
Terminal=false
Categories=Office;WordProcessor;
X-AppImage-Version=0.8.4-beta
