[Desktop Entry]
Type=Application
Name=Scrite
Exec=AppRun %f
Icon=scrite_app_icon.png
Comment=Multilingual Screenplay Writing App from TERIFLIX
Terminal=false
Categories=Office;WordProcessor
